body {
    width: 100%;
    position: relative;
    text-align: center;
}
.content {
    position: absolute;
    display: inline-block;
    top: 10%;
    left: 38%; 
}
a{
    text-decoration: none;
}
button{
    display: block;
    margin: 10px;
    height: 100px;
    width: 350px;
    font-size: 30px;
}
.register-btn{
    color: red;
}
.to-play-btn{
    color: yellow;
}
.to-mst-btn{
    color: yellowgreen;
}
.logout-btn{
    color: aqua;
}
