body {
    width: 100%;
    position: relative;
    text-align: center;
    /* border: solid; */
}
.content {
    position: absolute;
    display: inline-block;
    top: 40%;
    left: 38%; 
}
a{
    display: block;
}
label{
    display: block;
}