body {
    width: 100%;
    position: relative;
    text-align: center;
}
.content {
    position: absolute;
    display: inline-block;
    top: 35%;
    left: 35%; 
}
.form-remove{
    display: inline;
}
.page{
    position: absolute;
    display: inline-block;
    top: 60%;
    left: 38%;  
}
.pagination li {
    display: inline-block;
}