/* 共通 */
body {
    padding: 20px;
    height: 300px;
    width: 640px;
    position: relative;
    margin: 0 auto;
    border: solid;
}
.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}
.textbox{
    font-size: 17px;
    border: 1px solid gray;
    height: 30px;
    width: 220px;
}
.button{
    height: 47px;
    width: 47px;
    margin: 2px 2px;
    background-color: #99CC33;
    border: 1px solid gray;
    border-radius: 2px;
}