/* 共通 */
body {
    padding: 20px;
    height: auto;
    width: 640px;
    position: relative;
    margin: 0 auto;
    /* border: solid; */
    background: antiquewhite;
}

form, .content {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 20px;
}

form {
    transform: translateY(-50%) translateX(-50%);
}

.content {
    transform: translateY(-29%) translateX(-32%);
}

form a {
    display: block;
    text-align: center;
}

form p, .content p {
    font-size: larger;
    text-align: center;
}

form .description label, form .image label {
    float: left;
}

td input {
    float: right;
    width: 130%;    
}

form .submit {
    display: block;
    height: 30px;
    margin: 20px auto;
    width: 50%;
}

.description, td {
    white-space: nowrap;
}
